@use './libs' as *;
@use './components/all' as *;
@use './pages/pages' as *;

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 1200px) {
    main {
        max-width: 1440px;
        width: 100%;
        padding: 32px;
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    main {
        max-width: 728px;
        width: 100%;
        padding: 40px 20px 24px 20px;
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }
}

@media (max-width: 767px) {
    main {
        width: 100%;
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
}