.social-footer {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    align-items: center;

    &__item {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background: $Neutral500;
    }
}