.tabs-footer {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    align-items: center;

    &__item {
        padding: 8px 16px;
        background: $Neutral500;
        border-radius: 40px;

        &-text {
            font-weight: 500;
            color: $white;
            font-size: 14px;
            line-height: 18px;
        }
    }
}