.tabs-footer {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 8px;
       column-gap: 8px;
  align-items: center;
}
.tabs-footer__item {
  padding: 8px 16px;
  background: #626262;
  border-radius: 40px;
}
.tabs-footer__item:hover {
  background: rgb(245, 183, 63);
  transition: all 0.3s ease-in-out;
}
.tabs-footer__item:hover .tabs-footer__item-text {
  color: rgb(37, 37, 37);
  transition: all 0.3s ease-in-out;
}
.tabs-footer__item-text {
  font-weight: 500;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
}

@media (max-width: 767px) {
  .tabs-footer {
    flex-wrap: wrap;
    row-gap: 8px;
  }
  .tabs-footer__item-text {
    font-size: 12px;
    line-height: 16px;
  }
}
.social-footer {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 8px;
       column-gap: 8px;
  align-items: center;
}
.social-footer__item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #626262;
}
.social-footer__item:hover {
  background: rgb(245, 183, 63);
  transition: all 0.3s ease-in-out;
}
.social-footer__item:hover svg path {
  fill: rgb(37, 37, 37);
  transition: all 0.3s ease-in-out;
}

@media (max-width: 767px) {
  .social-footer__item {
    width: 32px;
    height: 32px;
  }
  .social-footer__item svg {
    width: 16px;
    height: 16px;
  }
}
.footer {
  width: 100%;
  padding: 20px 32px;
}
.footer__logo {
  width: 180px;
  height: 80px;
}
.footer__content {
  border-radius: 24px;
  background: rgba(37, 37, 37, 0.84);
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__content-column {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 24px;
}
.footer__content-column-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  margin-top: auto;
  max-width: 65%;
}
.footer__content-columnContacts {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: start;
}
.footer__content-columnContacts-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
}
.footer__content-contacts {
  display: grid;
  grid-template-columns: repeat(2, 312px);
  gap: 16px;
}
.footer__content-contacts > *:last-child {
  margin-top: 24px;
}

.contact__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 4px;
       column-gap: 4px;
  cursor: pointer;
}
.contact__row-link:hover svg path {
  fill: rgb(245, 183, 63);
  transition: all 0.3s ease-in-out;
}
.contact__row-link:hover span {
  color: rgb(245, 183, 63);
  transition: all 0.3s ease-in-out;
}

@media (max-width: 1199px) and (min-width: 768px) {
  .footer {
    padding: 20px;
  }
  .footer__logo {
    width: 180px;
    height: 80px;
  }
  .footer__content {
    flex-direction: column;
    border-radius: 24px;
    padding: 40px;
    row-gap: 40px;
  }
  .footer__content-column {
    row-gap: 24px;
  }
  .footer__content-column-text {
    margin-top: 16px;
    font-size: 16px;
    line-height: 20px;
    max-width: 100%;
  }
  .footer__content-columnContacts {
    row-gap: 16px;
  }
  .footer__content-columnContacts-title {
    font-size: 24px;
    line-height: 28px;
  }
  .footer__content-contacts {
    grid-template-columns: repeat(2, 312px);
    gap: 16px;
  }
  .footer__content-contacts > *:last-child {
    margin-top: 24px;
  }
}
@media (max-width: 767px) {
  .footer {
    padding: 16px;
    padding-bottom: 90px;
  }
  .footer__logo {
    width: 134px;
    height: 60px;
  }
  .footer__content {
    flex-direction: column;
    border-radius: 24px;
    padding: 24px;
    row-gap: 24px;
  }
  .footer__content-column {
    row-gap: 24px;
  }
  .footer__content-column-text {
    margin-top: 0;
    font-size: 14px;
    line-height: 20px;
    max-width: 100%;
  }
  .footer__content-columnContacts {
    row-gap: 20px;
  }
  .footer__content-columnContacts-title {
    font-size: 20px;
    line-height: 24px;
  }
  .footer__content-contacts {
    grid-template-columns: repeat(1, auto);
    gap: 16px;
  }
  .footer__content-contacts > *:last-child {
    margin-top: 0px;
  }
}/*# sourceMappingURL=footer.css.map */