@import './tabs';
@import './social';

.footer {
    width: 100%;
    padding: 20px 32px;

    &__content {
        border-radius: 24px;
        background: $Neutral600;
        padding: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &-column {
            display: flex;
            flex-direction: column;
            align-items: start;
            row-gap: 24px;

            &-text {
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: $white;
                margin-top: auto;
                max-width: 65%;
            }
        }

        &-columnContacts {
            display: flex;
            flex-direction: column;
            row-gap: 16px;
            align-items: start;

            &-title {
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
                color: $white;
            }
        }

        &-contacts {
        display: grid;
        grid-template-columns: repeat(2, 312px);
        gap: 16px;

        & > *:nth-last-child(-n + 2) {
        margin-top: 24px;
    }
    }
    }
}

.contact__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 4px;
    cursor: pointer;
}