.about-card {
  background-color: $Neutral200;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding: 24px;
  border-radius: 16px;
  margin: 0px auto;
  max-width: 1376px;

  &__title {
    font-size: 24px;
    color: $Neutral700;
  }

  &__txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $Neutral700;
  }
}
