@use "../../libs/variables" as *;

.communication {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-items: flex-start;

  &__title {
    font-size: 24px;
    line-height: 28px;
    color: #1f1f21;
  }

  &__text {
    margin-top: 16px;
    font-size: 16px;
    line-height: 20px;
    color: #1f1f21;
  }

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: flex-start;
    width: 100%;

    &-fields {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      gap: 16px;
    }

    .communication__form-field-label {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &-fields-field {
      height: 52px;
      border: 1px solid $Neutral300;
      border-radius: 8px;
      padding: 16px;
      color: $Neutral700;
      font-size: 16px;
      line-height: 20px;
      font-weight: 400;
      background: #fff;

      ::placeholder {
        color: $Neutral500;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
      }

      &:hover {
        border: 1px solid $Neutral500;
        background: $Neutral200;
        transition: all 0.2s ease-in-out;
      }

      &:focus {
        outline: none;
        border: 1px solid $Neutral700;
      }
    }

    &-textarea {
      height: 52px;
      margin-top: 8px;
      overflow: hidden;
      border: 1px solid $Neutral300;
      border-radius: 8px;
      padding: 16px;
      color: $Neutral700;
      font-size: 16px;
      line-height: 20px;
      font-weight: 400;
      resize: none;

      ::placeholder {
        color: $Neutral500;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
      }

      &:hover {
        border: 1px solid $Neutral500;
        background: $Neutral200;
        transition: all 0.2s ease-in-out;
      }

      &:focus {
        outline: none;
        border: 1px solid $Neutral700;
      }
    }

    .communication__form-error {
      color: $Primary700;
      font-size: 16px;
      line-height: 20px;
    }

    .communication__form-fields-field.error,
    .communication__form-terms-checkbox.error {
      border: 1px solid $Primary700;
    }

    &-terms {
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 12px;

      &-checkbox {
        appearance: none;
        -webkit-appearance: none;
        border: none;
        width: 24px;
        height: 24px;
        border-radius: 5px;
        background-color: $Neutral200;
        cursor: pointer;
        position: relative;
        flex-shrink: 0;
        transition: all 0.2s ease-in-out;

        &:checked {
          background-color: $Secondary700;
          border: none;

          &::after {
            content: '';
            position: absolute;
            left: 8px;
            top: 3px;
            width: 5px;
            height: 11px;
            border: solid white;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
          }
        }
      }

      &-label {
        cursor: pointer;
        font-family: Inter, sans-serif;
        font-weight: 400;
        color: $Neutral700;
        font-size: 14px;
        line-height: 20px;

        &-primary {
          color: $Primary700;
        }
      }
    }

    &-button {
      padding: 16px 20px;
      background: $Primary700;
      border-radius: 40px;
      border: none;
      color: $Neutral700;
      font-size: 16px;
      line-height: 20px;
      font-weight: 500;
      transition: all 0.2s ease-in-out;
      cursor: pointer;

      &:hover:not(:disabled) {
        background: $Primary600;
      }
    }
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
.communication {
  row-gap: 24px;

  &__title {
    font-size: 28px;
    line-height: 32px;
  }

  &__text {
    margin-top: 16px;
    font-size: 18px;
    line-height: 24px;
  }
}
}

@media (max-width: 767px) {
    .communication {
  row-gap: 24px;

  &__title {
    font-size: 20px;
    line-height: 24px;
  }

  &__text {
    margin-top: 0;
    font-size: 14px;
    line-height: 20px;
  }

  &__form {

    &-fields {
      grid-template-columns: repeat(1, 1fr);
    }

    &-button {
      width: 100%;
    }
  }
}
}