@use "../../libs/variables" as *;
@use "./form";
@use "./card-about";
@use "./contact-info";

.about-us {
  max-width: 1376px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 48px;

  &__title {
    font-size: 32px;
    color: $Neutral700;
  }

  &__txt {
    font-size: 16px;
    line-height: 20px;
    color: $Neutral700;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .about-us{
    margin-top: -16px;
  }
  
    .about-us__cards {
        display: flex;
        flex-direction: column;
        width: 100%;
        row-gap: 16px;
    }
}

@media (max-width: 767px) {
    .about-us__cards {
        display: flex;
        flex-direction: column;
        width: 100%;
        row-gap: 16px;
    }
}