.communication {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-items: flex-start;
}
.communication__title {
  font-size: 24px;
  line-height: 28px;
  color: #1f1f21;
}
.communication__text {
  margin-top: 16px;
  font-size: 16px;
  line-height: 20px;
  color: #1f1f21;
}
.communication__form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: flex-start;
  width: 100%;
}
.communication__form-fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 16px;
}
.communication__form .communication__form-field-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.communication__form-fields-field {
  height: 52px;
  border: 1px solid rgba(37, 37, 37, 0.12);
  border-radius: 8px;
  padding: 16px;
  color: rgb(37, 37, 37);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  background: #fff;
}
.communication__form-fields-field ::-moz-placeholder {
  color: #626262;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}
.communication__form-fields-field ::placeholder {
  color: #626262;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}
.communication__form-fields-field:hover {
  border: 1px solid #626262;
  background: rgba(37, 37, 37, 0.06);
  transition: all 0.2s ease-in-out;
}
.communication__form-fields-field:focus {
  outline: none;
  border: 1px solid rgb(37, 37, 37);
}
.communication__form-textarea {
  height: 52px;
  margin-top: 8px;
  overflow: hidden;
  border: 1px solid rgba(37, 37, 37, 0.12);
  border-radius: 8px;
  padding: 16px;
  color: rgb(37, 37, 37);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  resize: none;
}
.communication__form-textarea ::-moz-placeholder {
  color: #626262;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}
.communication__form-textarea ::placeholder {
  color: #626262;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}
.communication__form-textarea:hover {
  border: 1px solid #626262;
  background: rgba(37, 37, 37, 0.06);
  transition: all 0.2s ease-in-out;
}
.communication__form-textarea:focus {
  outline: none;
  border: 1px solid rgb(37, 37, 37);
}
.communication__form .communication__form-error {
  color: rgb(245, 183, 63);
  font-size: 16px;
  line-height: 20px;
}
.communication__form .communication__form-fields-field.error,
.communication__form .communication__form-terms-checkbox.error {
  border: 1px solid rgb(245, 183, 63);
}
.communication__form-terms {
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.communication__form-terms-checkbox {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border: none;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  background-color: rgba(37, 37, 37, 0.06);
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
  transition: all 0.2s ease-in-out;
}
.communication__form-terms-checkbox:checked {
  background-color: rgb(41, 146, 0);
  border: none;
}
.communication__form-terms-checkbox:checked::after {
  content: "";
  position: absolute;
  left: 8px;
  top: 3px;
  width: 5px;
  height: 11px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.communication__form-terms-label {
  cursor: pointer;
  font-family: Inter, sans-serif;
  font-weight: 400;
  color: rgb(37, 37, 37);
  font-size: 14px;
  line-height: 20px;
}
.communication__form-terms-label-primary {
  color: rgb(245, 183, 63);
}
.communication__form-button {
  padding: 16px 20px;
  background: rgb(245, 183, 63);
  border-radius: 40px;
  border: none;
  color: rgb(37, 37, 37);
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.communication__form-button:hover:not(:disabled) {
  background: rgba(245, 183, 63, 0.84);
}

@media (max-width: 1199px) and (min-width: 768px) {
  .communication {
    row-gap: 24px;
  }
  .communication__title {
    font-size: 28px;
    line-height: 32px;
  }
  .communication__text {
    margin-top: 16px;
    font-size: 18px;
    line-height: 24px;
  }
}
@media (max-width: 767px) {
  .communication {
    row-gap: 24px;
  }
  .communication__title {
    font-size: 20px;
    line-height: 24px;
  }
  .communication__text {
    margin-top: 0;
    font-size: 14px;
    line-height: 20px;
  }
  .communication__form-fields {
    grid-template-columns: repeat(1, 1fr);
  }
  .communication__form-button {
    width: 100%;
  }
}
.about-card {
  background-color: rgba(37, 37, 37, 0.06);
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding: 24px;
  border-radius: 16px;
  margin: 0px auto;
  max-width: 1376px;
}
.about-card__title {
  font-size: 24px;
  color: rgb(37, 37, 37);
}
.about-card__txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgb(37, 37, 37);
}

.contact-info {
  display: flex;
  flex-direction: column;
  max-width: 680px;
  width: auto;
}
.contact-info__title {
  font-size: 24px;
  color: rgb(37, 37, 37);
  margin-bottom: 40px;
}
.contact-info__fullname {
  margin-top: 32px;
  font-size: 18px;
  color: rgb(37, 37, 37);
}
.contact-info__description {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-top: 32px;
  max-width: 164px;
}
.contact-info__description-el {
  color: #7C7C7C;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.contact-info__address-block {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  margin-top: 32px;
}
.contact-info__address-title {
  color: #7C7C7C;
  font-size: 16px;
  font-weight: 400;
}
.contact-info__address-txt {
  color: rgb(37, 37, 37);
  font-size: 16px;
  font-weight: 400;
}
.contact-info__download-content {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-top: 32px;
  cursor: pointer;
}
.contact-info__download-pdf {
  color: rgb(245, 183, 63);
  font-size: 12px;
  margin-bottom: auto;
}

@media (max-width: 1199px) and (min-width: 768px) {
  .about-us__cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 16px;
  }
}
.about-us {
  max-width: 1376px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}
.about-us__title {
  font-size: 32px;
  color: rgb(37, 37, 37);
}
.about-us__txt {
  font-size: 16px;
  line-height: 20px;
  color: rgb(37, 37, 37);
}
.about-us__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 16px;
       column-gap: 16px;
}

@media (max-width: 1199px) and (min-width: 768px) {
  .about-us {
    margin-top: -16px;
  }
  .about-us__cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 16px;
  }
}
@media (max-width: 767px) {
  .about-us__cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 16px;
  }
}/*# sourceMappingURL=about.css.map */