@use "../libs/variables" as *;
@forward './header/header';
@forward './footer/footer';
@forward './contact';
@forward './promoCards';
@forward './cards/cards';
@forward './head';
@forward './about/about';
@forward './sort';
@forward './read-now';
@forward './news-feed';
@forward './socials';
@forward './map';
@forward './news/news';

.line {
    background: $Neutral300;
    height: 1px;
    width: 100%;
}