.contact {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 4px;

  &__title {
    color: $white;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
  }

  &__text {
    color: $Neutral400;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 767px) {
  .contact {
    &__title {
      font-size: 14px;
      line-height: 20px;
    }

    &__text {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
