.socials {
    display: flex;
    flex-direction: row;
    column-gap: 8px;

    &__item {
        cursor: pointer;
        width: 52px;
        height: 52px;
        background: $white;
        border: 1px solid $Neutral300;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease-in-out;

        &:hover {
            background: $Neutral200;
        }

        &-icon {
            width: 20px;
            height: 20px;
        }
    }
}