.search {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: flex-start;

  &__container {
    display: flex;
    align-items: center;
    height: 52px;
    width: 52px;
    background: $Neutral200;
    border-radius: 40px;
    padding: 8px;
    overflow: hidden;
    transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    box-sizing: border-box;

    &.open {
      width: 100%;
      cursor: default;
    }

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-input {
      flex: 1;
      border: none;
      background: transparent;
      outline: none;
      padding: 0 10px;
      opacity: 0;
      transition: opacity 0.2s;
      pointer-events: none;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      color: $Neutral500;

      ::placeholder {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        color: $Neutral500;
      }

      .search__container.open & {
        opacity: 1;
        pointer-events: auto;
      }
    }

    &-button {
      background: $Neutral500;
      color: $white;
      border: none;
      border-radius: 40px;
      padding: 9px 16px;
      font-size: 14px;
      line-height: 18px;
      cursor: pointer;
      font-weight: 500;
      opacity: 0;
      transform: translateX(10px);
      transition: all 0.3s;
      white-space: nowrap;

      .search__container.open & {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  &__close {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 34px;
    height: 34px;
    background: $Neutral200;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    animation: fadeIn 0.3s forwards;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
