@use "../../libs/variables" as *;

.select {
  position: relative;
  width: 320px;
  margin-left: auto;

  &__visible {
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding: 16px;
    cursor: pointer;
    width: 100%;
    height: 52px;
    border: 1px solid $Neutral300;
    border-radius: 40px;

    &-text {
      color: $Neutral700;
      font-size: 16px;
      line-height: 20px;
      font-weight: 500;
      margin-right: auto;
      margin-top: 1px;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }
  }

  &__hidden {
    position: absolute;
    margin-top: 4px;
    width: 100%;
    box-shadow: 0px 0px 4px 0px rgba(108, 71, 0, 0.02);
    box-shadow: 0px 7px 20px -6px rgba(108, 71, 0, 0.08);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    background: $white;

    &-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 12px;
      padding: 8px 16px;
      border-radius: 8px;
      cursor: pointer;

      &-icon {
        width: 20px;
        height: 20px;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
      }

      &-text {
        color: $Neutral700;
        font-size: 16px;
        line-height: 20px;
      }

      &-check {
        margin-left: auto;
      }
    }

    &-item:hover {
      background: $Neutral200;
    }
  }
}
