@use "../../libs/variables" as *;

.tabs {
    display: flex;
    flex-direction: column;

    &__item {
        cursor: pointer;
        padding: 16px 20px;

        &-text {
            color: $Neutral700;
            font-size: 16px;
            line-height: 20px;
            font-weight: 500;
            transition: color 0.3s ease-in-out;
        }

        &:hover &-text {
            color: $Primary700;
        }
    }
}
