@use "../../libs/variables" as *;

.tabs {
    display: flex;
    flex-direction: row;
    column-gap: 36px;

    &__item {
        cursor: pointer;

        &-text {
            color: $Neutral700;
            font-size: 16px;
            line-height: 20px;
            font-weight: 500;
            transition: all 0.3s ease-in-out;

            &-active, &:hover {
                color: $Primary700;
            }
        }
    }
}