.page {
  &__top {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 100%;
    column-gap: 32px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 1028px;
    width: 100%;
    row-gap: 40px;
    margin-left: auto;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .page {
    &__column {
      max-width: 100%;
      width: 100%;
      row-gap: 40px;
    }
  }
}

@media (max-width: 767px) {
  .page {
    &__column {
      max-width: 100%;
      width: 100%;
      row-gap: 40px;
    }
  }
}
