.page {

  &__sticky {
    display: flex;
    flex-direction: row;
    column-gap: 32px;
    align-items: start;
  }
  &__top {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 100%;
    column-gap: 32px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 1028px;
    width: 100%;
    row-gap: 40px;
    margin-left: auto;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .page {
    &__top {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: start;
      row-gap: 32px;
      column-gap: 16px;

      & > *:nth-child(2) {
        grid-column: 1 / span 2;
        order: -1;
      }

      & > *:nth-child(1),
      & > *:nth-child(3) {
        order: 1;
      }
    }

    &__column {
      max-width: 100%;
      width: 100%;
      row-gap: 40px;
    }
  }
}

@media (max-width: 767px) {
  .page {
    &__top {
      display: flex;
      flex-direction: column;
      align-items: start;
      row-gap: 16px;

      & > *:nth-child(2) {
        order: 1;
      }

      & > *:nth-child(1),
      & > *:nth-child(3) {
        order: 2;
      }
    }

    &__column {
      max-width: 100%;
      width: 100%;
      row-gap: 40px;
    }
  }
}
