@use "../libs/variables" as *;

@media (max-width: 1199px) and (min-width: 768px) {
  .about__row-contacts {
    flex-direction: column;
    margin-top: -16px;
  }
}

@media (max-width: 767px) {
  .about__row-contacts {
    flex-direction: column;
    margin-top: 12px;
  }
  .contact-info__title {
    margin-bottom: 24px;
  }
}
