@use "../libs/variables" as *;

.about__contacts-1, .contacts__line-1 {
    display: none;
  }
  .about__contacts-2, .contacts__line-2 {
    display: flex;
  }

@media (max-width: 1199px) and (min-width: 768px) {
  .about__row-contacts {
    flex-direction: column;
    margin-top: -16px;
  }
  .about__contacts-1, .contacts__line-1 {
    display: flex;
  }
  .about__contacts-2, .contacts__line-2 {
    display: none;
  }
}

@media (max-width: 767px) {
  .about__row-contacts {
    flex-direction: column;
    margin-top: 12px;
  }
  .contact-info__title {
    margin-bottom: 24px;
  }
  .about__contacts-1, .contacts__line-1 {
    display: flex;
  }
  .about__contacts-2, .contacts__line-2 {
    display: none;
  }
}
