.docs {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 32px;
  max-width: 80%;

  &__section {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 24px;

    &-title {
      font-size: 24px;
      line-height: 28px;
      color: $Neutral700;
    }

    &-subtitle {
      font-size: 16px;
      line-height: 20px;
      color: $Neutral700;
    }

    &-numlist {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
      align-items: start;
      padding-left: 20px;
      margin-left: 0;

      &-item {
        font-size: 16px;
        line-height: 20px;
        color: $Neutral700;
        font-weight: 400;
      }
    }

    &-marklist {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
      align-items: start;
      padding-left: 20px;
      margin-left: 0;

      &-item {
        font-size: 16px;
        line-height: 20px;
        color: $Neutral700;
        font-weight: 400;

        &::marker {
          color: $Primary700;
        }
      }
    }

    &-text {
      font-size: 16px;
      line-height: 20px;
      color: $Neutral700;
      font-weight: 400;
    }
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .docs {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
    .docs {
  max-width: 100%;

  &__section {
    &-title {
      font-size: 20px;
      line-height: 24px;
    }

    &-subtitle {
      font-size: 14px;
      line-height: 20px;
    }

    &-numlist {
      padding-left: 20px;
      margin-left: 0;

      &-item {
        font-size: 14px;
        line-height: 20px;
      }
    }

    &-marklist {
      padding-left: 20px;
      margin-left: 0;

      &-item {
        font-size: 14px;
        line-height: 20px;
      }
    }

    &-text {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
}
