.news {
    display: flex;
    flex-direction: column;
    max-width: 1376px;
    margin: 40px auto 24px auto;

    &__title {
        font-size: 32px;
        color: $Neutral700;
        margin-top: 16px;
    }

    &__content {
        margin-top: 24px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    &__left-content {
        max-width: 1012px;
        width: 100%;
    }

    &__right-content {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        max-width: 322px;
    }

    &__tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 8px;
    }

    &__tag {
        padding: 8px;
        background-color: $white;
        border: 1px solid $Neutral300;
        border-radius: 14px;
        font-size: 12px;
        color: $Neutral500;
    }

    &__img-block {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        margin-top: 24px;
        width: 100%;
    }

    &__img {
        width: 100%;
        height: 570px;
    }

    &__img-txt {
        font-size: 12px;
        color: $Neutral400;
    }

    &__text {
        margin-top: 24px;
        font-weight: 400;
        color: $Neutral700;
        font-size: 16px;
    }

    &__main-title {
        font-size: 48px;
        margin-top: 40px;
        line-height: 54px;
        color: $Neutral700;
    }

    &__main-pretitle {
        margin-top: 32px;
        font-size: 40px;
        line-height: 44px;
        color: $Neutral700;   
    }

    &__pretitle {
        font-size: 32px;
        line-height: 40px;
        color: $Neutral700;
        margin-top: 32px;
    }

    &__num-list {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        row-gap: 24px;
    }

    &__num-list-title {
        font-size: 24px;
        color: $Neutral700;
    }

    &__num-elements {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }

    &__num-elemen {
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        color: $Neutral700;
    }

    &__list {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        row-gap: 24px;
    }

    &__list-title {
        font-size: 18px;
        color: $Neutral700;
    }

    &__list-elements {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }

    &__list-element {
        display: flex;
        flex-direction: row;
        column-gap: 12px;
    }

    &__point {
        background-color: $Primary700;
        margin: 9px;
        min-width: 6px;
        min-height: 6px;
        max-width: 6px;
        max-height: 6px;
        border-radius: 50%;
    }

    &__line {
        margin-top: 40px;
        width: 100%;
        height: 1px;
        background-color: $Neutral300;
    }
}