@charset "UTF-8";
.page__sticky {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 32px;
       column-gap: 32px;
  align-items: start;
}
.page__top {
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 100%;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.page__column {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 1028px;
  width: 100%;
  row-gap: 40px;
  margin-left: auto;
}
.page__column-buttonMore {
  background: rgba(37, 37, 37, 0.06);
  border-radius: 40px;
  padding: 16px;
  width: 100%;
  color: rgb(37, 37, 37);
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in-out;
  margin-top: -16px;
}
.page__column-buttonMore:hover {
  background: rgba(37, 37, 37, 0.12);
}

@media (max-width: 1199px) and (min-width: 768px) {
  .page__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    row-gap: 32px;
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
  .page__top > *:nth-child(2) {
    grid-column: 1/span 2;
    order: -1;
  }
  .page__top > *:nth-child(1), .page__top > *:nth-child(3) {
    order: 1;
  }
  .page__column {
    max-width: 100%;
    width: 100%;
    row-gap: 40px;
  }
}
@media (max-width: 767px) {
  .page__top {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 16px;
  }
  .page__top > *:nth-child(2) {
    order: 1;
  }
  .page__top > *:nth-child(1), .page__top > *:nth-child(3) {
    order: 2;
  }
  .page__column {
    max-width: 100%;
    width: 100%;
    row-gap: 32px;
  }
  .page__column-buttonMore {
    margin-top: 12px;
    margin-bottom: 24px;
  }
}
.about__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
.about__contacts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
.about__contacts-item .contact__title {
  color: rgb(37, 37, 37) !important;
}

@media (max-width: 1199px) and (min-width: 768px) {
  .about__row {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
  }
  .about__contacts {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}
@media (max-width: 767px) {
  .about__row {
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;
  }
  .about__contacts {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
}
.notFound {
  display: flex;
  width: 100%;
  padding: 80px 27px;
  flex-direction: column;
  row-gap: 32px;
  align-items: center;
}
.notFound__error {
  font-family: Inter;
  font-size: 48px;
  line-height: 54px;
  font-weight: 500;
  color: rgb(37, 37, 37);
}
.notFound__title {
  font-size: 32px;
  line-height: 40px;
  color: rgb(37, 37, 37);
}
.notFound__decription {
  font-size: 16px;
  line-height: 20px;
  color: rgb(37, 37, 37);
  text-align: center;
}
.notFound__decription-primary {
  color: rgb(245, 183, 63);
  cursor: pointer;
}
.notFound__button {
  padding: 16px 20px;
  margin-top: -8px;
  border-radius: 40px;
  background: #626262;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in-out;
}
.notFound__button:hover {
  background: rgb(245, 183, 63);
  color: rgb(37, 37, 37);
}

@media (max-width: 767px) {
  .notFound {
    padding: 187px 44px;
    row-gap: 28px;
  }
  .notFound__decription {
    font-size: 14px;
    line-height: 20px;
  }
  .notFound__button {
    margin-top: -4px;
  }
}
@media (max-width: 1199px) and (min-width: 768px) {
  .about__row-contacts {
    flex-direction: column;
    margin-top: -16px;
  }
}
@media (max-width: 767px) {
  .about__row-contacts {
    flex-direction: column;
    margin-top: 12px;
  }
  .contact-info__title {
    margin-bottom: 24px;
  }
}
.docs {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 32px;
  max-width: 80%;
}
.docs__section {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 24px;
}
.docs__section-title {
  font-size: 24px;
  line-height: 28px;
  color: rgb(37, 37, 37);
}
.docs__section-subtitle {
  font-size: 16px;
  line-height: 20px;
  color: rgb(37, 37, 37);
}
.docs__section-numlist {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: start;
  padding-left: 20px;
  margin-left: 0;
}
.docs__section-numlist-item {
  font-size: 16px;
  line-height: 20px;
  color: rgb(37, 37, 37);
  font-weight: 400;
}
.docs__section-marklist {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: start;
  padding-left: 20px;
  margin-left: 0;
}
.docs__section-marklist-item {
  font-size: 16px;
  line-height: 20px;
  color: rgb(37, 37, 37);
  font-weight: 400;
}
.docs__section-marklist-item::marker {
  color: rgb(245, 183, 63);
}
.docs__section-text {
  font-size: 16px;
  line-height: 20px;
  color: rgb(37, 37, 37);
  font-weight: 400;
}

@media (max-width: 1199px) and (min-width: 768px) {
  .docs {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .docs {
    max-width: 100%;
  }
  .docs__section-title {
    font-size: 20px;
    line-height: 24px;
  }
  .docs__section-subtitle {
    font-size: 14px;
    line-height: 20px;
  }
  .docs__section-numlist {
    padding-left: 20px;
    margin-left: 0;
  }
  .docs__section-numlist-item {
    font-size: 14px;
    line-height: 20px;
  }
  .docs__section-marklist {
    padding-left: 20px;
    margin-left: 0;
  }
  .docs__section-marklist-item {
    font-size: 14px;
    line-height: 20px;
  }
  .docs__section-text {
    font-size: 14px;
    line-height: 20px;
  }
}
.newsTopics {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}
.newsTopics__section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: start;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 16px;
}
.newsTopics__button {
  padding: 16px 20px;
  background: #626262;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  border: none;
  transition: all 0.3s ease-in-out;
}
.newsTopics__button:hover {
  background: rgb(245, 183, 63);
  color: rgb(37, 37, 37);
}

@media (max-width: 1199px) and (min-width: 768px) {
  .newsTopics {
    row-gap: 40px;
  }
  .newsTopics__section {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 16px;
         column-gap: 16px;
    row-gap: 16px;
  }
  .newsTopics__section .newsCard-L {
    grid-column: span 2;
    gap: 8px;
  }
  .newsTopics__button {
    padding: 16px 20px;
    border-radius: 40px;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 767px) {
  .newsTopics {
    row-gap: 48px;
  }
  .newsTopics__section {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
  .newsTopics__section .newsCard-L {
    border-bottom: 1px solid rgba(37, 37, 37, 0.12);
    padding-bottom: 16px;
    margin-bottom: 8px;
    gap: 8px;
    margin-top: 40px;
  }
  .newsTopics__section .newsCard-L:nth-child(1) {
    margin-top: 0;
  }
  .newsTopics__section .newsCard-M {
    border-bottom: 1px solid rgba(37, 37, 37, 0.12);
    padding-bottom: 8px;
    height: 89px;
  }
  .newsTopics__button {
    padding: 16px 20px;
    border-radius: 40px;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
  }
}
.newsMain .news {
  display: flex;
  flex-direction: column;
  max-width: 1376px;
}
.newsMain .news__title {
  font-size: 32px;
  color: rgb(37, 37, 37);
  margin-top: 16px;
}
.newsMain .news__content {
  margin-top: -16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.newsMain .news__left-content {
  max-width: 1012px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.newsMain .news-section {
  display: flex;
  flex-direction: column;
}
.newsMain .news-section p {
  font-size: 16px;
  line-height: 20px;
  color: rgb(37, 37, 37);
  font-weight: 400;
}
.newsMain .news-image {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.newsMain .news-image:not(:last-child) {
  margin-bottom: 40px;
}
.newsMain .news-image img {
  width: 100%;
  height: 570px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.newsMain .news-image figcaption {
  color: #7C7C7C;
  font-size: 12px;
}
.newsMain .news-section h2 {
  font-weight: 500;
  font-size: 48px;
  line-height: 54px;
  color: rgb(37, 37, 37);
  margin-bottom: 32px;
}
.newsMain .news-section h3 {
  font-weight: 500;
  font-size: 40px;
  line-height: 44px;
  color: rgb(37, 37, 37);
  margin-bottom: 24px;
}
.newsMain .news-section h4 {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: rgb(37, 37, 37);
  margin-bottom: 24px;
}
.newsMain .news-section h5 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: rgb(37, 37, 37);
  margin-bottom: 24px;
}
.newsMain .news-section h6 {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: rgb(37, 37, 37);
  margin-bottom: 24px;
}
.newsMain .news__right-content {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  max-width: 322px;
}
.newsMain .news__tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.newsMain .news__tag {
  padding: 8px;
  background-color: #fff;
  border: 1px solid rgba(37, 37, 37, 0.12);
  border-radius: 14px;
  font-size: 12px;
  color: #626262;
}
.newsMain .news__img-block {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-top: 24px;
  width: 100%;
}
.newsMain .news__img {
  width: 100%;
  height: 570px;
}
.newsMain .news__img-txt {
  font-size: 12px;
  color: #7C7C7C;
}
.newsMain .news__text {
  margin-top: 24px;
  font-weight: 400;
  color: rgb(37, 37, 37);
  font-size: 16px;
}
.newsMain .news__main-title {
  font-size: 48px;
  margin-top: 40px;
  line-height: 54px;
  color: rgb(37, 37, 37);
}
.newsMain .news__main-pretitle {
  margin-top: 32px;
  font-size: 40px;
  line-height: 44px;
  color: rgb(37, 37, 37);
}
.newsMain .news__pretitle {
  font-size: 32px;
  line-height: 40px;
  color: rgb(37, 37, 37);
  margin-top: 32px;
}
.newsMain .news__num-list {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.newsMain .news__num-list-title {
  font-size: 24px;
  color: rgb(37, 37, 37);
}
.newsMain .news__num-elements {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.newsMain .news__num-elemen {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: rgb(37, 37, 37);
}
.newsMain .news__list {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.newsMain .news__list-title {
  font-size: 18px;
  color: rgb(37, 37, 37);
}
.newsMain .news__list-elements {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.newsMain .news__list-element {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.newsMain .news__point {
  background-color: rgb(245, 183, 63);
  margin: 9px;
  min-width: 6px;
  min-height: 6px;
  max-width: 6px;
  max-height: 6px;
  border-radius: 50%;
}
.newsMain .news__line {
  margin-top: 40px;
  width: 100%;
  height: 1px;
  background-color: rgba(37, 37, 37, 0.12);
}
.newsMain .num-list-block:not(:last-child) {
  margin-bottom: 32px;
}
.newsMain .num-list-block h5 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: rgb(37, 37, 37);
  margin-bottom: 24px;
}
.newsMain .num-list-block ol {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.newsMain .num-list-block ol li {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgb(37, 37, 37);
}
.newsMain .mark-list-block {
  position: relative;
}
.newsMain .mark-list-block:not(:last-child) {
  margin-bottom: 32px;
}
.newsMain .mark-list-block h5 {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: rgb(37, 37, 37);
  margin-bottom: 24px;
}
.newsMain .mark-list-block ul {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  list-style: none;
}
.newsMain .mark-list-block ul li {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding-left: 20px;
}
.newsMain .mark-list-block ul li:before {
  content: "•";
  color: rgb(245, 183, 63);
  position: absolute;
  left: 0;
}
@media (max-width: 1199px) and (min-width: 768px) {
  .newsMain .head__title {
    font-size: 32px;
    line-height: 40px;
  }
  .newsMain .news__tags {
    order: -1;
  }
  .newsMain .news-info {
    order: -2;
  }
  .newsMain .news-image:not(:last-child) {
    margin-bottom: 32px;
  }
  .newsMain .news-image img {
    height: 410px;
  }
  .newsMain .news__content {
    flex-direction: column;
  }
  .newsMain .mark-list-block ul li {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding-left: 20px;
  }
  .newsMain .mark-list-block ul li:before {
    content: "•";
    color: rgb(245, 183, 63);
    padding-right: 0px;
    left: 0px;
  }
  .newsMain .news-feed {
    display: none;
  }
  .newsMain .mark-list-block {
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .newsMain .news-feed {
    display: none;
  }
  .newsMain .line {
    margin: 32px 0;
  }
  .newsMain .head__title {
    font-size: 24px;
    line-height: 28px;
  }
  .newsMain .news__tags {
    order: -1;
  }
  .newsMain .news-info {
    order: -2;
    margin-top: 24px;
  }
  .newsMain .news-image img {
    height: 200px;
  }
  .newsMain .news-image:not(:last-child) {
    margin-bottom: 32px;
  }
  .newsMain .news__content {
    flex-direction: column;
  }
  .newsMain .mark-list-block ul li {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding-left: 20px;
  }
  .newsMain .mark-list-block ul li:before {
    content: "•";
    color: rgb(245, 183, 63);
    left: 0;
  }
  .newsMain .news-info {
    margin-top: 24px;
  }
  .newsMain .news-section h2 {
    font-size: 36px;
    line-height: 40px;
  }
  .newsMain .news-section h3 {
    font-size: 30px;
    line-height: 36px;
  }
  .newsMain .news-section h4 {
    font-size: 24px;
    line-height: 28px;
  }
  .newsMain .news-section h5 {
    font-size: 20px;
    line-height: 24px;
  }
  .newsMain .news-section h6 {
    font-size: 18px;
    line-height: 22px;
  }
}/*# sourceMappingURL=pages.css.map */