@use "../../libs/variables" as *;

.news-info {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    width: 100%;
    
    &__title {
        font-size: 24px;
        color: $Neutral700;
    }

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
    }

    &__element {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    &__category {
        font-weight: 400;
        font-size: 14px;
        color: $Neutral700;
    }

    &__meaning {
        font-weight: 400;
        font-size: 14px;
        color: $Neutral400;
    }
}