@use "../../libs/variables" as *;

.news-info {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    
    &__title {
        font-size: 24px;
        color: $Neutral700;
    }

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
    }

    &__element {
        display: flex;
        flex-direction: row;
        column-gap: 8px;
    }

    &__category {
        font-weight: 400;
        font-size: 14px;
        color: $Neutral700;
    }

    &__meaning {
        font-weight: 400;
        font-size: 14px;
        color: $Neutral400;
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    .news-info {
        &__element {
            column-gap: 16px;
        }
    }
}

@media (max-width: 767px) {
    .news-info {
        &__element {
            width: 100%;
            justify-content: space-between;
        }
    }
}