@import "./card";
@import "./cards-wrapper";

.newsCards {
    display: flex;
    flex-direction: row;
    column-gap: 32px;
    align-items: start;

    &__column {
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 16px;

        &-button {
            width: 100%;
            padding: 8px 16px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            background: $Neutral500;
            border-radius: 40px;

            &-text {
                color: $white;
                font-weight: 500;
                font-size: 14px;
                line-height: 18px;
                font-family: Inter;
            }

            &:hover {
                background: $Primary700;
                transition: all 0.3s ease-in-out;

                .newsCards__column-button-text {
                    color: $Neutral700;
                    transition: all 0.3s ease-in-out;
                }

                .newsCards__column-button-icon path {
                    fill: $Neutral700;
                    transition: all 0.3s ease-in-out;
                }
            }
        }

        &-cards {
            display: flex;
            flex-direction: column;
            row-gap: 16px;
        }
    }
}