.cards-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 14px;

  &__title {
    color: $Neutral700;
    font-size: 32px;
    line-height: 40px;

    &-sm {
      font-size: 24px;
      line-height: 28px;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr auto;
    gap: 16px;
    max-width: 680px;
    width: 100%;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .cards-wrapper {
    row-gap: 24px;

    &__title {
      font-size: 32px;
      line-height: 40px;

      &-sm {
        display: none;
      }
    }

    &__cards {
      display: flex;
      gap: 16px;
      width: min-content;
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 767px) {
  .cards-wrapper {
    row-gap: 16px;
    width: 100%;

    &__title {
      font-size: 24px;
      line-height: 28px;

      &-sm {
        display: none;
      }
    }

    &__cards {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 100%;
      flex-wrap: nowrap;

      .newsCard-L {
        padding-bottom: 16px;
        margin-bottom: 8px;
        border-bottom: 1px solid $Neutral300;
      }

      .newsCard-M {
        padding-bottom: 8px;
        height: 89px;
        border-bottom: 1px solid $Neutral300;
      }
    }
  }
}
