@use "../../libs/variables" as *;

.newsCard {
  display: flex;
  cursor: pointer;
  position: relative;
  gap: 8px;

  &__img {
    width: 100%;
    object-fit: cover;
  }

  &__description {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    &-title {
      font-weight: 500;
      color: $Neutral700;
    }

    &-info {
      display: flex;
      gap: 8px;
    }

    &-txt {
      color: $Neutral500;
      font-family: Inter;
      font-size: 12px;
      line-height: 12px;
      font-weight: 500;
    }
  }

  &-L {
    display: flex;
    grid-column: span 2;
    flex-direction: column;

    .newsCard__img {
      border-radius: 20px;
      height: 510px;
    }

    .newsCard__description {
      &-title {
        font-size: 18px;
        line-height: 22px;
      }

      &-info {
        flex-direction: row;
      }
    }
  }

  &-M,
  &-F {
    display: flex;
    gap: 8px;
    max-width: 332px;
    flex-direction: column;

    .newsCard__img {
      border-radius: 16px;
      height: 249px;
    }

    .newsCard__description {
      &-title {
        font-size: 16px;
        line-height: 20px;
      }

      &-info {
        flex-direction: row;
      }
    }
  }

  &-S {
    display: flex;
    gap: 8px;
    width: 332px;
    height: 121px;
    flex-direction: row;

    .newsCard__img {
      border-radius: 8px;
      width: 140px;
      height: 100%;
    }

    .newsCard__description {
      &-title {
        font-size: 14px;
        line-height: 18px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
      }

      &-info {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 8px;
      }

      &-txt:last-child {
        grid-column: 1 / -1;
      }
    }
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .newsCard {
    &-L {
      width: 728px;

      .newsCard__img {
        height: 546px;
      }

      .newsCard__description {
        &-title {
          font-size: 20px;
          line-height: 24px;
        }
      }
    }

    &-M {
      width: 356px;

      .newsCard__img {
        height: 267px;
      }

      .newsCard__description {
        &-title {
          font-size: 18px;
          line-height: 24px;
        }
      }
    }

    &-S,
    &-F {
      flex-direction: row;
      width: 356px;
      height: 100px;

      .newsCard__img {
        width: 134px;
        height: 100%;
        border-radius: 8px;
      }

      .newsCard__description {
        &-title {
          font-size: 14px;
          line-height: 18px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          line-clamp: 3;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
        }

        &-info {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 8px;
      }
      }
    }
  }
}

@media (max-width: 767px) {
  .newsCard {
    &__description {
      &-txt {
        font-size: 10px;
        line-height: 10px;
      }
    }

    &-L {
      width: 100%;
      flex-direction: column;

      .newsCard__img {
        height: 257px;
      }

      .newsCard__description {
        &-title {
          font-size: 16px;
          line-height: 20px;
        }
      }
    }

    &-M,
    &-S,
    &-F {
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 8px;
      height: 80px;
      max-width: 100%;

      .newsCard__img {
        width: 110px;
        height: 100%;
        border-radius: 4px;
      }

      .newsCard__description {
        &-title {
          font-size: 16px;
          line-height: 20px;
          overflow: hidden;
          display: -webkit-box;
          line-clamp: 3;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
        }

        &-info {
          display: flex;
          flex-direction: row;
        }
      }
    }
  }
}
